<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Crud Table</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-md">
          <a class="navbar-brand" href="#">Crud</a>
        </div>
      </nav>

      <div class="container mt-5">
        <h1>Course Table</h1>
        <br>
        {% comment %} {% for dat in data %}
        <h1>{{dat.name}}</h1>
        {% endfor %}  {% endcomment %}

        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    {% comment %} <th>ID</th> {% endcomment %}
                    <th>Title</th>
                    <th>Description</th>
                    <th>Instructor</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Capacity</th>
                    {% comment %} <th>Update</th> {% endcomment %}
                    {% comment %} <th>Delete</th> {% endcomment %}
                </tr>
            </thead>
            <tbody>
            {% for d in data %}
                <tr>
                    {% comment %} <td>{{d.id}}</tb> {% endcomment %}
                    <td>{{d.title}}</td>
                    <td>{{d.description}}</td>
                    <td>{{d.instructor}}</td>
                    <td>{{d.start_date}}</td>
                    <td>{{d.end_date}}</td>
                    <td>{{d.capacity}}</td>
                    <td><a type="button" href="/update/{{d.id}}" class="btn btn-outline-success">Update</a></td>
                    <td><a type="button" href="/delete/{{d.id}}" class="btn btn-outline-danger">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </body>
</html>